#checkBoxBar_left {
	color: white;
	background-color: #B2B2B2; 
	border: none; 
	border-top-left-radius: 10; 
	border-bottom-left-radius: 10;
	padding-left: 10;
	padding-right: 5;
	border-right: 1px solid rgba(0, 0, 0, 50);
}

#checkBoxBar_left_active {
	color: white;
	background-color: #90B262; 
	border: none; 
	border-top-left-radius: 10; 
	border-bottom-left-radius: 10;
	padding-left: 10;
	padding-right: 5;
	border-right: 1px solid rgba(0, 0, 0, 50);
}

#checkBoxBar_center {
	color: white;
	background-color: #B2B2B2; 
	border: none;
	padding-left: 5;
	padding-right: 5;
	border-right: 1px solid rgba(0, 0, 0, 50);
}

#checkBoxBar_center_active {
	color: white;
	background-color: #90B262; 
	border: none;
	padding-left: 5;
	padding-right: 5;
	border-right: 1px solid rgba(0, 0, 0, 50);
}

#checkBoxBar_right {
	color: white;
	background-color: #B2B2B2; 
	border: none; 
	border-top-right-radius: 10; 
	border-bottom-right-radius: 10;
	padding-left: 5;
	padding-right: 10;
}

#checkBoxBar_right_active {
	color: white;
	background-color: #90B262; 
	border: none; 
	border-top-right-radius: 10; 
	border-bottom-right-radius: 10;
	padding-left: 5;
	padding-right: 10;
}
