#body {
	background-color: rgba(255, 255, 255, 70);
	border-radius: 10;
	border: 1px solid #90B262;
	margin: 10;
}

#image {
	mask: img/image_mask.png;
}

#rating {
        mask: img/rating.png;
        background: #CCCCCC;
        color: #90B262;
}

#text {
	color: rgba(0, 0, 0, 200);
}

#recipeItem {
	color: #FFFFFF;
	background-color: #90B262;
	border: none;
	padding-left: 5;
	padding-right: 5;
	border-radius: 5;	
}

#recipeItem:hover {
	background-color: #B2B2B2;
}

#filterTag {
	background-color: #90B262;
	border-radius: 7;
	margin: 2;
}

#filterTag_text {
	color: #FFFFFF;
	padding-left: 5;
	font-weight: bold;
}

#filterTag_button {
	color: #FFFFFF;
	border: none;
	font-weight: bold;	
	padding-right: 5;
	border-left: 1px solid rgba(0, 0, 0, 20);
}

#inputArea {
	border: 1px solid #9B9D9E;
	background-color: rgba(0,0,0,20);
	border-radius: 5;
	padding-left: 5;
	padding-right: 5;
}

#scrollArea {
	border: none;
	background-color: transparent;
}

#scrollbar:vertical {
	border: none;
	border-radius: 5;
	background-color: transparent;
	width: 13px;
}

::handle#scrollbar:vertical {
	background-color: #B2B2B2;
	border-radius: 3px;
	margin: 3px;
}

::handle#scrollbar:vertical:hover:!pressed {
	background-color: #9B9D9E;
}

::handle#scrollbar:vertical:pressed {
	background-color: #1D93D0;
}

::add-line#scrollbar:vertical {
    border: none;
    background: transparent;
    height: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

::sub-line#scrollbar:vertical {
    border: none;
    background: transparent;
    height: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
